*{
    margin: 0px;
    padding:0px;
}

.container{
    width: 200px;
    margin: 0 auto;
}

h1{
    font-family: 'Times New Roman', Times, sans-serif;
    font-weight: bold;
    color: beige;
}

.container ul{
    list-style: none;
    margin: 10px;
}

.container li{
    font-size: 20px;
}

.container a{
    text-decoration: none;
    color: aqua ;
}